bin/
data/
*.o
*.a
*.so
*.so.*
*.swp

databases/
include/
lib/ffindex/src/ffindex_apply
lib/ffindex/src/ffindex_build
lib/ffindex/src/ffindex_from_fasta
lib/ffindex/src/ffindex_get
lib/ffindex/src/ffindex_modify
lib/ffindex/src/ffindex_unpack
lib/hh
src/cluster
src/cstranslate
src/hhalign
src/hhblits
src/hhconsensus
src/hhfilter
src/hhmake
src/hhsearch
src/tags
